.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #9ad2cb;
}

button {
    color: #472836;
    opacity: 100%;
    padding: 3px 10px;
    background-color: transparent;
    border: 0px;
    font-size: 1.1rem;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
}

button:hover {
    text-decoration: underline;
}

button:active {
    transform: translateY(4px);
}

.active {
    text-decoration: underline;
}

.login-wrapper {
    justify-content: flex-end;
    justify-self: flex-end;
    display: flex;
    flex: 1;
}
